form {
    min-width: 60vw;
}

fieldset {
    display: flex;
    flex-direction: column;
}

form-field {
    display: flex;
    flex-direction: column;
    margin: 1em;
    margin-bottom: 0em;
}

form-field:has(> input:required) label::after, form-field:has(> textarea:required) label::after {
    content: " *";
    color: red;
}

  
output {
    margin-top: 1em;
}

input[type="email"]:user-invalid, textarea:user-invalid {
    background-color: rgba(255,0,0,0.2);
}


input[type="email"]:user-valid, textarea:user-valid{
    background-color: rgba(0,255,0,0.2);
}
