/* * {
    border: 1px solid red;
} */

:root {
    --header-font: Consolas, Monaco, Courier New;
}

header {
    font-family: var(--header-font);
    text-align: center;
}

content-body {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

content-body:has(+ h2) {
    text-align: center;
    font-size: 1.7rem;
}


content-body > h1 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 1em;

    
    /* justify-content: center; */
    /* display: flex; */
    /* justify-content: end; */
}

.main_button {
    /* border: 0; */
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    background-color: lightgray;
    border-radius: 10px;
    color: black;
    margin: 0 10px 0 10px
    /* text-shadow: 1px 1px 1px #fff; */
}

.main_button:hover {
    background-color: rgb(171, 170, 170);
}

.resume {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

