header {
    display: flex;
    width:auto;
    margin-block-end: 0;
    background-color: #B8D8EA;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    color: black;
}

@media (max-width: 700px) {
    header {
        font-size: 0.5rem;
        /* min-width: 100vh; */
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 1em;

    
    /* justify-content: center; */
    /* display: flex; */
    /* justify-content: end; */
}

content-body {
    margin: auto;
    margin-top: 1rem;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

@media (max-width: 700px) {
    content-body {
        font-size: 1rem;
    }
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    
    /* justify-content: center; */

    /* display: flex; */
    /* justify-content: end; */
}

.main_button {
    width: 100px;   
    /* border: 0; */
    line-height: 2.5;
    /* padding: 0 20px; */
    font-size: 1rem;
    /* background-color: gray; */
    border-radius: 10px;
    text-align: center;

    background-color: darkgray;
    transition: background-color 0.25s 100ms;
    color: black;

    /* transform: background-color 3s 500ms; */
    /* text-shadow: 1px 1px 1px #fff; */
}

.big {
    width: auto;  
    margin: 1rem;
}

.main_button:hover {
    background-color: white;
    transform: scale(1.1, 1.1)
    /* background-color: white; */
}

.main_button[selected="true"] {
    background-color: rgb(102, 99, 99);
}

@media (max-width: 700px) {
    .main_button {
        width: 50px;
        font-size: 0.5rem;
    }
}
